In [77]:
import pandas as pd
import numpy as np
import datetime

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')

import data_cleaning as dc
from sklearn import metrics
%matplotlib inline

from statsmodels.formula.api import ols
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm
import scipy.stats as stats
from sklearn.model_selection import train_test_split

In [131]:
df1 = pd.read_csv('estimated_rent.csv')
df2 = pd.read_csv('distance_nearest_subway.csv')
df3 = pd.read_csv('real_estate_price_transport.csv')
df = pd.concat([df1,df2,df3], axis=1, sort=True)

In [105]:
df1_unique_addresses = df1.drop_duplicates('addr')
df2_unique_addresses = df2.drop_duplicates('address')
df3_unique_addresses = df3.drop_duplicates('address')

In [125]:
df

,Unnamed: 0,Unnamed: 0.1,RegionID,neighborhood,addr,sale_date,sale_price,zip_code,rent_estimate,Unnamed: 0,...,commercial_units,gross_square_feet,land_square_feet,neighborhood,residential_units,sale_date,sale_price,total_units,year_built,zip_code
0,0.0,0.0,270958.0,upper west side,360 MANHATTAN AVENUE,2012-05,695000.0,10026.0,2664.0,0.0,...,0,1428,2513,BATH BEACH,1,2012-06-28,610000,1,1930,11228
1,1.0,1.0,270958.0,upper west side,360 MANHATTAN AVENUE,2012-03,665000.0,10026.0,2575.0,1.0,...,0,1724,4833,BATH BEACH,1,2012-12-18,860000,1,1930,11214
2,2.0,2.0,270958.0,upper west side,360 MANHATTAN AVENUE,2012-02,721000.0,10026.0,2796.0,2.0,...,0,0,0,BATH BEACH,1,2012-07-25,452000,1,0,11214
3,3.0,3.0,270958.0,upper west side,360 MANHATTAN AVENUE,2013-08,955000.0,10026.0,3319.0,3.0,...,0,0,0,BATH BEACH,1,2014-10-27,510000,1,0,11214
4,4.0,4.0,270958.0,upper west side,130 MANHATTAN AVENUE,2012-12,2100000.0,10025.0,8155.0,4.0,...,0,0,0,BATH BEACH,1,2015-12-15,520000,1,0,11214
5,5.0,5.0,270958.0,upper west side,60 WEST 106 STREET,2012-08,540000.0,10025.0,2124.0,5.0,...,0,0,0,BATH BEACH,1,2017-06-27,515000,1,0,11214
6,6.0,6.0,270958.0,upper west side,60 WEST 106 STREET,2013-02,575000.0,10025.0,2128.0,6.0,...,0,0,0,BATH BEACH,1,2017-10-18,650000,1,0,11214
7,7.0,7.0,270958.0,upper west side,60 WEST 106 STREET,2014-11,735000.0,10025.0,2469.0,7.0,...,0,2132,2417,BATH BEACH,1,2012-08-24,508000,1,1930,11214
8,8.0,8.0,270958.0,upper west side,60 WEST 107 STREET,2012-09,446160.0,10025.0,1738.0,8.0,...,0,0,0,BATH BEACH,1,2013-08-22,465000,1,2007,11214
9,9.0,9.0,270958.0,upper west side,60 WEST 107 STREET,2012-04,400530.0,10025.0,1545.0,9.0,...,0,0,0,BATH BEACH,1,2014-12-10,480000,1,2007,11214
10,10.0,10.0,270958.0,upper west side,60 WEST 107 STREET,2013-05,359970.0,10025.0,1320.0,10.0,...,0,0,0,BATH BEACH,1,2015-03-05,595000,1,2007,11214
11,11.0,11.0,270958.0,upper west side,60 WEST 107 STREET,2013-05,420810.0,10025.0,1543.0,11.0,...,0,0,0,BATH BEACH,1,2016-10-07,670000,1,2007,11214
12,12.0,12.0,270958.0,upper west side,60 WEST 107 STREET,2014-01,2100000.0,10025.0,7372.0,12.0,...,0,0,0,BATH BEACH,1,2017-10-05,649000,1,2007,11214
13,13.0,13.0,270958.0,upper west side,20 WEST 97TH STREET,2012-05,519000.0,10025.0,1989.0,13.0,...,0,2000,2417,BATH BEACH,1,2012-11-14,690000,1,1935,11228
14,14.0,14.0,270958.0,upper west side,20 WEST 97TH STREET,2015-04,660000.0,10025.0,2207.0,14.0,...,0,1410,1611,BATH BEACH,1,2012-04-04,420000,1,1910,11214
15,15.0,15.0,270958.0,upper west side,20 WEST 97TH STREET,2015-07,630000.0,10025.0,2012.0,15.0,...,0,1256,1440,BATH BEACH,1,2012-07-19,500000,1,1915,11214
16,16.0,16.0,270958.0,upper west side,20 WEST 97TH STREET,2017-08,775000.0,10025.0,2403.0,16.0,...,0,1281,1440,BATH BEACH,1,2013-03-11,479000,1,1915,11214
17,17.0,17.0,270958.0,upper west side,380 CENTRAL PARK WEST,2012-11,475000.0,10025.0,1820.0,17.0,...,0,1281,1440,BATH BEACH,1,2016-02-23,699000,1,1915,11214
18,18.0,18.0,270958.0,upper west side,380 CENTRAL PARK WEST,2012-10,715000.0,10025.0,2766.0,18.0,...,0,1782,1740,BATH BEACH,1,2012-05-15,605000,1,1955,11214
19,19.0,19.0,270958.0,upper west side,380 CENTRAL PARK WEST,2012-10,790434.0,10025.0,3058.0,19.0,...,0,2100,1933,BATH BEACH,1,2012-07-16,715000,1,1910,11228
20,20.0,20.0,270958.0,upper west side,380 CENTRAL PARK WEST,2012-12,850000.0,10025.0,3301.0,20.0,...,0,1674,1740,BATH BEACH,1,2014-04-25,677000,1,1960,11228
21,21.0,21.0,270958.0,upper west side,380 CENTRAL PARK WEST,2012-08,750000.0,10025.0,2950.0,21.0,...,0,1488,1511,BATH BEACH,1,2012-03-07,550000,1,1950,11214
22,22.0,22.0,270958.0,upper west side,380 CENTRAL PARK WEST,2012-12,1200000.0,10025.0,4660.0,22.0,...,0,1728,1795,BATH BEACH,1,2012-01-24,590000,1,1930,11214
23,23.0,23.0,270958.0,upper west side,380 CENTRAL PARK WEST,2012-05,570000.0,10025.0,2185.0,23.0,...,0,1728,1795,BATH BEACH,1,2013-09-20,583000,1,1930,11214
24,24.0,24.0,270958.0,upper west side,380 CENTRAL PARK WEST,2012-05,625000.0,10025.0,2396.0,24.0,...,0,1728,1795,BATH BEACH,1,2014-07-09,526909,1,1930,11214
25,25.0,25.0,270958.0,upper west side,380 CENTRAL PARK WEST,2012-08,920000.0,10025.0,3618.0,25.0,...,0,1392,1649,BATH BEACH,1,2012-06-07,480000,1,1945,11214
26,26.0,26.0,270958.0,upper west side,380 CENTRAL PARK WEST,2012-08,860000.0,10025.0,3382.0,26.0,...,0,1860,2062,BATH BEACH,1,2013-03-01,410000,1,1940,11214
27,27.0,27.0,270958.0,upper west side,380 CENTRAL PARK WEST,2012-03,825000.0,10025.0,3195.0,27.0,...,0,1240,2062,BATH BEACH,1,2017-03-03,850000,1,1940,11214
28,28.0,28.0,270958.0,upper west side,380 CENTRAL PARK WEST,2012-12,949000.0,10025.0,3685.0,28.0,...,0,1392,1649,BATH BEACH,1,2012-12-12,520000,1,1940,11214
29,29.0,29.0,270958.0,upper west side,380 CENTRAL PARK WEST,2013-11,785000.0,10025.0,2709.0,29.0,...,0,1392,1648,BATH BEACH,1,2013-02-21,420000,1,1945,11214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,UPPER WEST SIDE (96-116),1,2017-04-06,470000,1,1909,10025
73128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,UPPER WEST SIDE (96-116),1,2017-08-04,722000,1,1909,10025
73129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,UPPER WEST SIDE (96-116),1,2017-01-09,1562500,1,1911,10025
73130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,UPPER WEST SIDE (96-116),1,2017-05-02,2202500,1,1920,10025
73131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,UPPER WEST SIDE (96-116),1,2017-09-25,3156575,1,1920,10025
73132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,UPPER WEST SIDE (96-116),1,2017-09-26,1000000,1,1920,10025
73133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,UPPER WEST SIDE (96-116),1,2017-02-01,3462050,1,1920,10025
73134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,UPPER WEST SIDE (96-116),1,2017-10-24,1650000,1,1922,10025
73135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS LOWER,1,2017-06-30,628000,1,2012,10032
73136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS LOWER,1,2017-05-01,895000,1,0,10033
73137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-01-31,545000,1,1954,10033
73138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-12-18,510000,1,1954,10033
73139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-12-27,492804,1,1939,10033
73140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-03-28,491790,1,1939,10033
73141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-06-12,660000,1,1939,10033
73142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-01-30,571238,1,1939,10033
73143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-02-23,544763,1,1939,10033
73144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-01-27,460000,1,1939,10033
73145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-02-28,576635,1,1939,10033
73146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-01-11,455000,1,1939,10033
73147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-05-17,566147,1,1939,10033
73148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-03-15,775000,1,1939,10033
73149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-01-24,550000,1,1939,10033
73150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-01-13,960000,1,1939,10033
73151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-02-16,594658,1,1939,10033
73152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-02-22,560000,1,1939,10033
73153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-10-04,535000,1,1939,10033
73154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-01-05,475000,1,1939,10033
73155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-01-26,400530,1,1939,10033
73156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,3907,1444,WASHINGTON HEIGHTS UPPER,0,2017-09-07,1100000,1,1920,10033

In [90]:
len(df1) + len(df2) + len(df3)

182563

In [138]:
def cleaning():
    df['RegionID'] = df['RegionID'].fillna(df['RegionID'].mode(), inplace=True)
    df['neighborhood'].fillna(df['neighborhood'].mode(), inplace=True)
    # df['addr'].fillna()
    df['sale_date'].fillna(df['sale_date'].mode(), inplace=True)
    df['sale_price'].fillna(df['sale_price'].mean())
    # df['zip_code'].fillna(df['zip_code'].median())
    df['rent_estimate'].fillna(df['rent_estimate'].mean())
    # df['address'].fillna()
    df['num_within_dist'].fillna(df['num_within_dist'].mode())
    df['station'].fillna(df['station'].mode())
    df['line'].fillna(df['line'].mode())
    df['geometry'].fillna(df['geometry'].mode())
    df['stat_lng'].fillna(df['stat_lng'].median())
    df['stat_lat'].fillna(df['stat_lat'].median())
    df['dist_miles'].fillna(df['dist_miles'].mean())
#     # df['address'].fillna()
#     df['lng'].fillna(df['lng'].mode())
#     df['lat'].fillna(df['lat'].mode())
#     # df['apartment_number'].fillna(df['apartment_number'].mo)
#     df['borough'].fillna(value=df['borough'].mode())
#     df['building_class_category'].fillna(df['building_class_category'].mode())
#     df['commercial_units'].fillna(df['commercial_units'].mode())
#     df['gross_square_feet'].fillna(df['gross_square_feet'].mean())
#     df['land_square_feet'].fillna(df['land_square_feet'].mean())
#     df['neighborhood'].fillna(df['neighborhood'].mode())
#     df['residential_units'].fillna(df['residential_units'].mode()) 
#     df['sale_date'].fillna(df['sale_date'].mode())
#     df['sale_price'].fillna(df['sale_price'].mean())
#     df['total_units'].fillna(df['total_units'].mode())
#     df['year_built'].fillna(df['year_built'].median())
#     # df['zip_code'].fillna(df['zip_code'].mode())
    
cleaning()

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73157 entries, 0 to 73156
Data columns (total 39 columns):
Unnamed: 0                 70146 non-null float64
Unnamed: 0.1               70146 non-null float64
RegionID                   0 non-null object
neighborhood               70146 non-null object
addr                       70146 non-null object
sale_date                  70146 non-null object
sale_price                 70146 non-null float64
zip_code                   70146 non-null float64
rent_estimate              70146 non-null float64
Unnamed: 0                 39260 non-null float64
Unnamed: 0.1               39260 non-null float64
address                    39260 non-null object
num_within_dist            39260 non-null float64
station                    39260 non-null object
line                       39260 non-null object
geometry                   39260 non-null object
stat_lng                   39260 non-null float64
stat_lat                   39260 non-null float64
add_lng                    39260 non-null float64
add_lat                    39260 non-null float64
dist_miles                 39260 non-null float64
Unnamed: 0                 73157 non-null int64
Unnamed: 0.1               73157 non-null int64
address                    73157 non-null object
lng                        73157 non-null float64
lat                        73157 non-null float64
apartment_number           73157 non-null object
borough                    73157 non-null int64
building_class_category    73157 non-null object
commercial_units           73157 non-null int64
gross_square_feet          73157 non-null int64
land_square_feet           73157 non-null int64
neighborhood               73157 non-null object
residential_units          73157 non-null int64
sale_date                  73157 non-null object
sale_price                 73157 non-null int64
total_units                73157 non-null int64
year_built                 73157 non-null int64
zip_code                   73157 non-null int64
dtypes: float64(15), int64(11), object(13)
memory usage: 24.8+ MB

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, RegionID, neighborhood, addr, sale_date, sale_price, zip_code, rent_estimate, address, num_within_dist, station, line, geometry, stat_lng, stat_lat, add_lng, add_lat, dist_miles, lng, lat, apartment_number, borough, building_class_category, commercial_units, gross_square_feet, land_square_feet, residential_units, total_units, year_built]
Index: []

[0 rows x 30 columns]

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182563 entries, 0 to 73156
Data columns (total 30 columns):
RegionID                   70146 non-null float64
Unnamed: 0                 182563 non-null int64
Unnamed: 0.1               182563 non-null int64
add_lat                    39260 non-null float64
add_lng                    39260 non-null float64
addr                       70146 non-null object
address                    112417 non-null object
apartment_number           73157 non-null object
borough                    73157 non-null float64
building_class_category    73157 non-null object
commercial_units           73157 non-null float64
dist_miles                 39260 non-null float64
geometry                   39260 non-null object
gross_square_feet          73157 non-null float64
land_square_feet           73157 non-null float64
lat                        73157 non-null float64
line                       39260 non-null object
lng                        73157 non-null float64
neighborhood               143303 non-null object
num_within_dist            39260 non-null float64
rent_estimate              70146 non-null float64
residential_units          73157 non-null float64
sale_date                  143303 non-null object
sale_price                 143303 non-null float64
stat_lat                   39260 non-null float64
stat_lng                   39260 non-null float64
station                    39260 non-null object
total_units                73157 non-null float64
year_built                 73157 non-null float64
zip_code                   143303 non-null float64
dtypes: float64(19), int64(2), object(9)
memory usage: 43.2+ MB

In [32]:
df = pd.concat([df1,df2,df3])
df = df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1','add_lat', 'add_lng'], inplace=True)
df.info()

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

AttributeError: 'NoneType' object has no attribute 'info'

In [27]:

df.addr = df['addr'].fillna(df['address'], inplace=True)
df

,RegionID,addr,address,apartment_number,borough,building_class_category,commercial_units,dist_miles,geometry,gross_square_feet,...,rent_estimate,residential_units,sale_date,sale_price,stat_lat,stat_lng,station,total_units,year_built,zip_code
0,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2664.0,NaN,2012-05,695000.0,NaN,NaN,NaN,NaN,NaN,10026.0
1,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2575.0,NaN,2012-03,665000.0,NaN,NaN,NaN,NaN,NaN,10026.0
2,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2796.0,NaN,2012-02,721000.0,NaN,NaN,NaN,NaN,NaN,10026.0
3,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3319.0,NaN,2013-08,955000.0,NaN,NaN,NaN,NaN,NaN,10026.0
4,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8155.0,NaN,2012-12,2100000.0,NaN,NaN,NaN,NaN,NaN,10025.0
5,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2124.0,NaN,2012-08,540000.0,NaN,NaN,NaN,NaN,NaN,10025.0
6,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2128.0,NaN,2013-02,575000.0,NaN,NaN,NaN,NaN,NaN,10025.0
7,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2469.0,NaN,2014-11,735000.0,NaN,NaN,NaN,NaN,NaN,10025.0
8,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1738.0,NaN,2012-09,446160.0,NaN,NaN,NaN,NaN,NaN,10025.0
9,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1545.0,NaN,2012-04,400530.0,NaN,NaN,NaN,NaN,NaN,10025.0
10,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1320.0,NaN,2013-05,359970.0,NaN,NaN,NaN,NaN,NaN,10025.0
11,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1543.0,NaN,2013-05,420810.0,NaN,NaN,NaN,NaN,NaN,10025.0
12,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7372.0,NaN,2014-01,2100000.0,NaN,NaN,NaN,NaN,NaN,10025.0
13,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1989.0,NaN,2012-05,519000.0,NaN,NaN,NaN,NaN,NaN,10025.0
14,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2207.0,NaN,2015-04,660000.0,NaN,NaN,NaN,NaN,NaN,10025.0
15,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2012.0,NaN,2015-07,630000.0,NaN,NaN,NaN,NaN,NaN,10025.0
16,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2403.0,NaN,2017-08,775000.0,NaN,NaN,NaN,NaN,NaN,10025.0
17,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1820.0,NaN,2012-11,475000.0,NaN,NaN,NaN,NaN,NaN,10025.0
18,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2766.0,NaN,2012-10,715000.0,NaN,NaN,NaN,NaN,NaN,10025.0
19,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3058.0,NaN,2012-10,790434.0,NaN,NaN,NaN,NaN,NaN,10025.0
20,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3301.0,NaN,2012-12,850000.0,NaN,NaN,NaN,NaN,NaN,10025.0
21,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2950.0,NaN,2012-08,750000.0,NaN,NaN,NaN,NaN,NaN,10025.0
22,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4660.0,NaN,2012-12,1200000.0,NaN,NaN,NaN,NaN,NaN,10025.0
23,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2185.0,NaN,2012-05,570000.0,NaN,NaN,NaN,NaN,NaN,10025.0
24,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2396.0,NaN,2012-05,625000.0,NaN,NaN,NaN,NaN,NaN,10025.0
25,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3618.0,NaN,2012-08,920000.0,NaN,NaN,NaN,NaN,NaN,10025.0
26,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3382.0,NaN,2012-08,860000.0,NaN,NaN,NaN,NaN,NaN,10025.0
27,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3195.0,NaN,2012-03,825000.0,NaN,NaN,NaN,NaN,NaN,10025.0
28,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3685.0,NaN,2012-12,949000.0,NaN,NaN,NaN,NaN,NaN,10025.0
29,270958.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2709.0,NaN,2013-11,785000.0,NaN,NaN,NaN,NaN,NaN,10025.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73127,NaN,None,500 W. 110TH STREET,1G,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-04-06,470000.0,NaN,NaN,NaN,1.0,1909.0,10025.0
73128,NaN,None,500 WEST 110 STREET,10F,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-08-04,722000.0,NaN,NaN,NaN,1.0,1909.0,10025.0
73129,NaN,None,520 WEST 110 STREET,5A,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-01-09,1562500.0,NaN,NaN,NaN,1.0,1911.0,10025.0
73130,NaN,None,270 RIVERSIDE DRIVE,2C,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-05-02,2202500.0,NaN,NaN,NaN,1.0,1920.0,10025.0
73131,NaN,None,270 RIVERSIDE DRIVE,3B,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-09-25,3156575.0,NaN,NaN,NaN,1.0,1920.0,10025.0
73132,NaN,None,270 RIVERSIDE DRIVE,4D,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-09-26,1000000.0,NaN,NaN,NaN,1.0,1920.0,10025.0
73133,NaN,None,270 RIVERSIDE DRIVE,12D,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-02-01,3462050.0,NaN,NaN,NaN,1.0,1920.0,10025.0
73134,NaN,None,610 WEST 110TH ST,8C,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-10-24,1650000.0,NaN,NaN,NaN,1.0,1922.0,10025.0
73135,NaN,None,450 W 167TH ST,1D,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-06-30,628000.0,NaN,NaN,NaN,1.0,2012.0,10032.0
73136,NaN,None,2360 AMSTERDAM,6A,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-05-01,895000.0,NaN,NaN,NaN,1.0,0.0,10033.0
73137,NaN,None,60 BENNETT AVENUE,0,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-01-31,545000.0,NaN,NaN,NaN,1.0,1954.0,10033.0
73138,NaN,None,60 BENNETT AVENUE,0,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-12-18,510000.0,NaN,NaN,NaN,1.0,1954.0,10033.0
73139,NaN,None,100 BENNETT AVENUE,12B,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-12-27,492804.0,NaN,NaN,NaN,1.0,1939.0,10033.0
73140,NaN,None,100 BENNETT AVENUE,14A,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-03-28,491790.0,NaN,NaN,NaN,1.0,1939.0,10033.0
73141,NaN,None,100 BENNETT AVENUE,16B,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-06-12,660000.0,NaN,NaN,NaN,1.0,1939.0,10033.0
73142,NaN,None,100 BENNETT AVENUE,21B,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-01-30,571238.0,NaN,NaN,NaN,1.0,1939.0,10033.0
73143,NaN,None,100 BENNETT AVENUE,22A,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-02-23,544763.0,NaN,NaN,NaN,1.0,1939.0,10033.0
73144,NaN,None,100 BENNETT AVENUE,24B,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-01-27,460000.0,NaN,NaN,NaN,1.0,1939.0,10033.0
73145,NaN,None,100 BENNETT AVENUE,26B,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-02-28,576635.0,NaN,NaN,NaN,1.0,1939.0,10033.0
73146,NaN,None,100 BENNETT AVENUE,34A,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-01-11,455000.0,NaN,NaN,NaN,1.0,1939.0,10033.0
73147,NaN,None,100 BENNETT AVENUE,35B,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-05-17,566147.0,NaN,NaN,NaN,1.0,1939.0,10033.0
73148,NaN,None,100 BENNETT AVENUE,45A,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-03-15,775000.0,NaN,NaN,NaN,1.0,1939.0,10033.0
73149,NaN,None,100 BENNETT AVENUE,45B,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-01-24,550000.0,NaN,NaN,NaN,1.0,1939.0,10033.0
73150,NaN,None,100 BENNETT AVENUE,51A,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-01-13,960000.0,NaN,NaN,NaN,1.0,1939.0,10033.0
73151,NaN,None,100 BENNETT AVENUE,52A,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-02-16,594658.0,NaN,NaN,NaN,1.0,1939.0,10033.0
73152,NaN,None,100 BENNETT AVENUE,55B,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-02-22,560000.0,NaN,NaN,NaN,1.0,1939.0,10033.0
73153,NaN,None,100 BENNETT AVENUE,63A,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-10-04,535000.0,NaN,NaN,NaN,1.0,1939.0,10033.0
73154,NaN,None,100 BENNETT AVENUE,64A,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-01-05,475000.0,NaN,NaN,NaN,1.0,1939.0,10033.0
73155,NaN,None,100 BENNETT AVENUE,12HB,1.0,13 CONDOS - ELEVATOR APARTMENTS,0.0,NaN,NaN,0.0,...,NaN,1.0,2017-01-26,400530.0,NaN,NaN,NaN,1.0,1939.0,10033.0
73156,NaN,None,530 W. 187TH STREET,0,1.0,38 ASYLUMS AND HOMES,1.0,NaN,NaN,3907.0,...,NaN,0.0,2017-09-07,1100000.0,NaN,NaN,NaN,1.0,1920.0,10033.0

In [103]:
df1_unique_addresses_list = list(pd.unique(df1['addr']))
df3_unique_addresses_list = list(pd.unique(df3['address']))

In [ ]:
                         
    
#  for col in df_full.columns:
#     df_full[col].fillna((df_full[col].mean()), inplace=True)

# sub2['income'].fillna((sub2['income'].mean()), inplace=True)
# df_full.apply(lambda x: x.fillna(x.mean()),axis=0)   
    
#     for col in df_full.columns:
#     df_full[col].fillna((df_full[col].mean()), inplace=True)

In [ ]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

q = """SELECT *
         FROM
        df1
        JOIN 
        df2
        USING (address)
        """
    
results = pysqldf(q)
df_12 = pd.DataFrame(results)
df_12

In [ ]:
df1.set_index('address').join(df2.set_index('address'), rsuffix='r')

In [ ]:
df_x = df1.set_index('sale_date')
df_x = df_x.sort_index(ascending=True)

df3_x = df3.set_index('sale_date')
df3_x = df3_x.sort_index(ascending=True)

In [ ]:
df1_unique_addresses_list = list(pd.unique(df1['addr']))
df3_unique_addresses_list = list(pd.unique(df3['address']))

In [ ]:
df2_unique_addresses.loc[pd.unique(df2_unique_addresses['address'])]

In [ ]:
len(df1_unique_addresses)

In [ ]:
len(df3_unique_addresses)

In [ ]:
df1_unique_addresses = df1.drop_duplicates('addr')
df2_unique_addresses = df2.drop_duplicates('address')
df3_unique_addresses = df3.drop_duplicates('address')

In [ ]:
df_full = pd.concat([df1_unique_addresses,df2_unique_addresses,df3_unique_addresses], sort = True)
df_full.info()

In [ ]:
df_full.drop(columns=['add_lat','add_lng','stat_lat','stat_lng'],inplace=True)


'borough','commercial_units','dist_miles','gross_square_feet','land_square_feet','num_within_dist','rent_estimate','residential_units',

In [ ]:
for col in df_full.columns:
    df_full[col].fillna((df_full[col].mean()), inplace=True)

# sub2['income'].fillna((sub2['income'].mean()), inplace=True)
# df_full.apply(lambda x: x.fillna(x.mean()),axis=0)

In [ ]:
df1_unique_addresses.groupby(['neighborhood']).mean()

In [ ]:
df3_unique_addresses.groupby(['neighborhood']).mean()

In [ ]:
joined = pd.concat([df1_unique_addresses, df2_unique_addresses, df3_unique_addresses])
joined.dropna()

In [ ]:
df1_unique_addresses_list == df3_unique_addresses_list

In [ ]:
unique_addresses = []

for x in df1_unique_addresses_list:
    if (x == df3_unique_addresses_list):
        unique_addresses.append(x)

len(unique_addresses)

In [ ]:
df_y = df1.sort_values(by='sale_date', inplace=True)
df3_y = df3.sort_values(by='sale_date', inplace=True)

In [ ]:
merge1=pd.merge(df_x,df3_x, how='inner', left_index=True, right_index=True)

In [ ]:
dfy = df1[['sale_date', 'addr']]
dfy3 = df3[['sale_date', 'address']]

In [ ]:
#by grouping on the 2 columns, this groups rows where A and B values are the same, 
#we call size which returns the number of unique groups:
df1.sort_values(by='sale_date', inplace=True)
df1.groupby(['sale_date', 'addr']).size().reset_index().rename(columns={0:'count'})